@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#753682), to(#bf2e34));
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cards {
  margin: 0 auto;
  width: 16.5rem;
}

.left {
  margin-top: -1rem;
  border-radius: 20px;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 160%;
}

.left h2 {
  margin-top: -1rem;
}

.active {
  background-color: #dfdcb4;
  color: black;
}

.inactive {
  background-color: grey;
  color: black;
}

.right {
  margin-top: 1rem;
  border-radius: 20px;
  color: black;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 160%;
}

#middle .new {
  position: absolute;
  top: 10px;
  left: calc(50% - 85px);
  font-size: 20px;
  padding: 0.2rem 1rem;
  border-radius: 20px;
  border: 0;
  background-color: black;
  color: white;
  line-height: 30px;
}

#middle .new:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: white;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#middle .btn_roll {
  position: absolute;
  bottom: 15px;
  left: 10px;
  font-size: 20px;
  padding: 0.2rem 1rem;
  border-radius: 20px;
  border: 0;
  background-color: black;
  color: white;
  line-height: 30px;
}

#middle .btn_roll:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: white;
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#middle .btn_hold {
  position: absolute;
  bottom: 15px;
  right: 10px;
  font-size: 20px;
  padding: 0.2rem 1rem;
  border-radius: 20px;
  border: 0;
  background-color: black;
  color: white;
  line-height: 30px;
}

#middle .btn_hold:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: white;
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#middle .dice {
  width: 70px;
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 35px);
  border-radius: 10px;
  border: 1px solid black;
  -webkit-box-shadow: 0 0 8px black;
          box-shadow: 0 0 8px black;
}

.hidden {
  display: none;
}

h1 {
  color: white;
  display: none;
  padding: 2rem 0;
}

.win {
  color: white;
  text-align: center;
  font-size: 30px;
  display: none;
}
/*# sourceMappingURL=style.css.map */