@import url("http://fonts.cdnfonts.com/css/lab-grotesque");
.logo {
  padding: 1em;
}

.logo svg {
  width: 128px;
}

.menuItem {
  display: block;
  font-size: 1.8rem;
  color: white;
  margin-left: 1em;
  text-decoration: none;
  padding-top: 1em;
}

.menuItem:hover {
  text-decoration: underline;
}

.menu-desktop {
  display: none;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1.5rem;
  right: 1rem;
  padding: 7px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  top: -30px;
  left: 0;
  background-color: black;
  opacity: 0.8;
  right: 0;
  bottom: 0;
  z-index: 99;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.menu .btn {
  margin-top: 1em;
}

.showMenu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  min-width: 300px;
  font-family: 'Lab Grotesque', sans-serif;
}

body a {
  text-decoration: none;
}

#hero {
  margin-top: 2em;
  text-align: center;
}

#hero .lobe {
  font-size: 2.5em;
  font-weight: bold;
}

#hero .tour {
  font-size: 2.5em;
  font-weight: bold;
  color: #04ddb2;
}

#hero p {
  margin: 0 auto;
  font-size: 1.2em;
  width: 80%;
}

#video {
  margin-top: 5.2em;
  position: relative;
  text-align: center;
}

#video img {
  width: 85%;
  border-radius: 30px;
}

#video img:hover {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  width: 87%;
  -webkit-box-shadow: 0px 20px 20px 2px grey;
          box-shadow: 0px 20px 20px 2px grey;
}

#video iframe {
  display: none;
}

#video iframe:target {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 100;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

#train {
  text-align: center;
}

#train h2 {
  margin-top: 1em;
  padding: 0 2em 0 2em;
  font-size: 2.5em;
  font-weight: bold;
}

#train button {
  margin-top: -.5em;
}

.btn {
  background-color: #04ddb2;
  color: #fff;
  padding: 0.45em 1.5em;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 30px;
  border: 0;
}

.bar {
  margin: 0 auto;
  margin-top: 3rem;
  width: 95%;
  height: 1px;
  background-color: grey;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .links1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 5em;
}

footer .links1 span {
  padding: .8em;
}

footer .links1 svg {
  width: 70px;
}

footer .links2 {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .links2 a {
  padding: 0.5em;
  color: #767676;
}

footer .links3 {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .links3 a {
  padding: 0.5em;
  color: #767676;
}

footer .links4 {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .links4 a {
  padding: 0.5em;
  color: #767676;
}

footer .socials {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .socials svg {
  width: 32px;
  padding: .7em;
  background-color: #04ddb2;
  border-radius: 100%;
  fill: white;
}

footer .socials a {
  padding: 0.5em;
  color: #767676;
}

.btn-desktop {
  display: none;
}

@media (min-width: 48em) {
  footer {
    display: -ms-grid;
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    -ms-grid-columns: (33%)[3];
        grid-template-columns: repeat(3, 33%);
  }
}

@media (min-width: 58em) {
  .hamburger {
    display: none;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .5em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5em;
  }
  .menu-desktop a {
    color: black;
    padding-right: 1.5em;
    border-radius: 10px;
  }
  .menu-desktop a:hover {
    -webkit-text-decoration: underline #04ddb2;
            text-decoration: underline #04ddb2;
    color: #0ca788;
  }
  .menu-desktop .btn {
    font-size: .9em;
  }
  .btn-desktop {
    display: inline;
  }
}

@media (min-width: 75em) {
  header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (20%)[5];
        grid-template-columns: repeat(5, 20%);
  }
  footer .socials {
    margin-top: 5em;
  }
  footer .links1 {
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
    margin-top: 3em;
  }
}
/*# sourceMappingURL=style.css.map */