@import 'variables';

body {
    @include reset;
}

.nav-menu {
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
    height: 80px;
    background-color: #eeeeee;
    line-height: 80px;
    box-shadow: 0 2px 2px grey;

    a {
        text-decoration: none;
        color: #f15fff;
    }

    ul {
        display: flex;
        padding: 0;
        margin: 0;
        text-indent: 40px;
        list-style-type: none;

        a:hover {
            text-decoration: underline black 1px;
        }
    }
}

#main {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .text-b {
        font-size: 25px;
        background-color: black;
        color: white;
        padding: 2.5rem 5rem;
        border-radius: 3rem;
        text-align: center;

        h1 {
            letter-spacing: 4px;
        }

        #btn {
            font-size: 20px;
            padding: .5rem 2rem;
            box-shadow: 0px 1px 2px 1px blue;
            border-radius: 10px;
            border: 1px solid black;
            font-weight: bold;
            background-color: white;
            color: #f15eee;
        }

        #btn:hover {
            background-color: #f15eee;
            color: black;
            transition: .1s ease-in;
            cursor: pointer;
        }

        #btn:active {
            background-color: black;
            color: white;
        }
    }
}