body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    box-shadow: 0 1px 1px grey;
    line-height: 80px;
    font-size: 40px;

    a {
        text-decoration: none;
        color: rgb(84, 84, 238)
    }

    .logo a {
        color: rgb(86, 191, 233);
    }

    ul {
        display: flex;
        margin: 0;
        padding: 0;
        text-indent: 20px;
        list-style: none;
    }
}

main {
    display: flex;
    justify-content: center;
    height: 70vh;
    align-items: center;

    #back {
        text-align: center;
        padding: 1rem 5rem;
        letter-spacing: 3px;
        border-radius: 20px;
        background-color: black;

        h1 {
            font-size: 50px;
            color: white;
        }

        button {
            border: 3px solid blue;
            padding: .5rem 2rem;
            font-size: 20px;
            border-radius: 10px;
            background-color: transparent;

            color: white;
        }

        button:hover {
            transform: scale(1.1);
            transition: 0.2s;
        }
    }

}