:root {
    
    --font: 'Work Sans', monospace;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

a {
    text-decoration: none;
}

h1, h2, h3, p {
    @include reset;
}

h1 {
    font-size: 2.5rem;
}
h2 {        
    font-size: 2rem;

}

.blue-text {
    color: var(--color_23);
    font-weight: 700;
}

.btn {
    text-align: center;

        a {
        left: calc(50% - 60px);
        background-color: var(--color_23);
        color: var(--color_1);
        padding: .75rem 1.5rem;
        border-radius: 50px;
        }
    }