/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  background-color: white;
  transition: 0.4s;
  font-size: 1.5rem;

  img {
    width: 16px;
  }


}


.accordion:after {
  content: '\003E';
  /* Unicode character for "plus" sign (+) */
  font-size: 30px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\02C5";
  /* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  margin: 1rem;
  transition: max-height 0.2s ease-out;

  a {
    display: flex;
    padding: .5rem;

  }
}

.panel:target {
  display: flex;
  flex-direction: column;
}