@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');


body {
    background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 59, 58));
    font-family: "Quicksand", sans-serif;
    margin: 0;
    box-sizing: border-box;
}


#container {
    display: flex;
    padding: 15px 60px;
    justify-content: space-between;
}


/* HEADER */

header {
}
#container {
    display: flex;
    padding: 15px 60px;
    justify-content: space-between;
}

header {
    position: static;
    box-sizing: border-box;
}
header a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(183, 230, 235);
    font-size: 24px;
    text-shadow: 1px 1px 2px rgba(0,0,0.2);
    border-radius: 16px;
    padding: 10px;
}

header li a:hover {
    color: rgb(59, 59, 59);
    background-color: rgb(183, 230, 235);


}



header ul {
    list-style: none;
    display: flex;
}

header li {
    padding: 6px;
    margin-left: 20px;
    text-decoration: none;
}
/* HEADER */


/* LOGO */  

#page-logo a {
    padding: 10px;
    font-family: "Oleo Script", sans-serif;
    color: rgb(183, 230, 235);
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0,0,0);
    margin: 0 auto;
}

/* LOGO */


/* CARD */





main ul {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 20px 20px;
    grid-template-columns: repeat(2, 1fr);
}

main li:nth-child(3) {
    grid-column: span 2;
}
main li:nth-child(10) {
    grid-column: span 2;
}
main li {
    display: flex;
    background-color: white;
    list-style: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
}

main li img {
    width: 300px;
    object-fit: cover;
}

.actions {
    text-align: right;
}

.actions a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.actions a:hover {
    background-color: rgb(183, 230, 235);
    padding: 6px;
    border-radius: 6px;
}

.item-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-content-box h2{
    text-transform: uppercase;
}



/* CARD */

/* FOOTER */

footer {
    margin-top: 50px;
    background-color: white;
}
.social-media {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    list-style: none;
    width: 120px;
}

footer svg {
    width: 200px;
    height: 150px;
}