.none {
  display: none;
}

/* MENU */
.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: black;
}

.menu-btn {
  border: 0;
  position: relative;
  width: 20%;
  cursor: pointer;
  background-color: black;
}

.menu-btn svg {
  fill: white;
  padding: .8em 1rem;
}

.menu {
  position: fixed;
  width: 100%;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  pointer-events: none;
}

.logo {
  padding: 1rem;
}

.logo a {
  font-size: 1.5rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo a svg {
  padding-right: 0.5rem;
  font-weight: bold;
  color: blue;
  fill: white;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
  background-color: black;
  color: white;
  width: 95%;
  margin-top: 3.72rem;
  width: 100%;
}

.menu a {
  padding: .4rem;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }
  .menu {
    position: static;
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    opacity: 1;
    margin-right: 2rem;
    pointer-events: auto;
  }
  .menu a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 1rem;
    color: white;
    font-size: 1rem;
  }
  .menu a:last-child {
    padding-right: 0;
  }
  .menu a:hover {
    background-color: transparent;
  }
}

@media (min-width: 48em) {
  .search h2 {
    font-size: 4rem;
  }
  .details {
    display: -ms-grid;
    display: grid;
    padding: 2rem 2rem;
        grid-template-columns: repeat(2, 50%);
  }
  footer {
    text-align: end;
  }
}

@media (min-width: 64rem) {

  .det1 {
    padding: 1rem 8rem;
  }
  .footer {
    display: -ms-grid;
    display: grid;
        grid-template-columns: repeat(5, 20%);
  }
}

@media (min-width: 75em) {
  .details {
    padding: 5rem 10rem;
  }
}

@media (min-width: 64rem) {
  .details {
    padding: 4rem 8rem;
  }
  .footer {
    display: -ms-grid;
    display: grid;
        grid-template-columns: repeat(5, 20%);
    font-size: 120%;
  }
  footer {
    font-size: 90%;
    margin-top: 9rem;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.btn-submit {
  padding: .4rem 1.2rem;
  font-size: .9rem;
  color: white;
  border-radius: 6px;
  background: black;
  border: 1px solid white;
  -webkit-box-shadow: 0px 0px 4px 1px white;
          box-shadow: 0px 0px 4px 1px white;
}

.btn-sign {
  padding: .5rem 1.2rem;
  font-size: .9rem;
  color: white;
  border-radius: 6px;
  background: #4C5FD5;
}

.search {
  text-align: center;
  height: 30vh;
  font-size: 1.5rem;
  background-color: #dadbf1;
  padding: 3.75rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search .search-box {
  margin: 0 auto;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search .search-box input {
  margin-top: 1rem;
  border-radius: 6px 0 0 6px;
  padding: 1rem 1rem;
  width: 80%;
  font-size: 1.2rem;
}

.search .search-box a {
  margin: 1rem 0rem 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  padding: 1.12rem;
  border-radius: 0 6px 6px 0px;
  background-color: #4C5FD5;
}

.details {
  display: -ms-grid;
  display: grid;
}

.details svg {
  width: 128px;
  margin-left: 1.5rem;
}

.details .det1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.details .det1 div {
  padding: 1rem 1rem;
  font-size: 120%;
}

.details .det1 div h2 {
  font-size: 200%;
}

.details .det1 div a {
  text-decoration: none;
  color: #4C5FD5;
}

.details .det1 div a:hover {
  color: blueviolet;
}

.footer {
  background-color: black;
  color: white;
  margin-top: 4rem;
  display: -ms-grid;
  display: grid;
      grid-template-columns: repeat(2, 50%);
  padding: 1rem 1rem;
}

.footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  text-decoration: none;
}

footer {
  margin-top: 3rem;
  font-weight: bold;
  grid-column: span 2;
  font-size: 110%;
  text-align: end;
}

footer svg {
  width: 64px;
}
/*# sourceMappingURL=styles.css.map */

@media (min-width: 48em) {
  .search h2 {
      font-size: 4rem;
  }

  .details {
      display: grid;
      padding: 2rem 4em;
      grid-template-columns: repeat(2, 50%);
  }

 
  .grid2 h1, .grid1 a {
    padding-left: 2rem;
  }
  
  .grid2 h3, .grid2 a {
    padding-left: 2rem;
  }
  
  .search .search-box input {
    padding: 1rem 10rem;
    text-align: center;
  }
  footer {
      text-align: end;
      font-size: 90%;
  }

}

@media (min-width: 64rem) {
  .details {
    padding: 4rem 8rem;
  }
  .footer {
    display: -ms-grid;
    display: grid;
        grid-template-columns: repeat(5, 20%);
  }
}

@media (min-width: 75em) {
  .details {
    padding: 5rem 10rem;
  } 
}

@media (min-width: 64rem) {
  .details {
      padding: 4rem 8rem;
  }  
  .footer {
      display: grid;
      grid-template-columns: repeat(5, 20%);
      font-size: 120%
  }

  footer {
    font-size: 90%;
    margin-top: 9rem;
    grid-column: 5/6;
  }

}



@media (min-width: 48em) {
  .search h2 {
      font-size: 4rem;
  }

  .details {
      display: grid;
      padding: 2rem 4em;
      grid-template-columns: repeat(2, 50%);
  }

  .grid1 h3, .grid1 a {
    padding-left: 4rem;
  }
  
  .search .search-box input {
    padding: 1rem 10rem;
    text-align: center;
  }
  footer {
      text-align: end;
      font-size: 90%;
  }

}