:root {
  --color_0: rgb(255,255,255);
  --color_1: rgb(255,255,255);
  --color_2: rgb(0,0,0);
  --color_3: rgb(237,28,36);
  --color_4: rgb(0,136,203);
  --color_5: rgb(255,203,5);
  --color_6: rgb(114,114,114);
  --color_7: rgb(176,176,176);
  --color_8: rgb(255,255,255);
  --color_9: rgb(114,114,114);
  --color_10: rgb(176,176,176);
  --color_11: rgb(255,255,255);
  --color_12: rgb(231,231,235);
  --color_13: rgb(197,197,207);
  --color_14: rgb(115,115,140);
  --color_15: rgb(22,22,63);
  --color_16: rgb(248,240,255);
  --color_17: rgb(221,187,255);
  --color_18: rgb(158,63,253);
  --color_29: rgb(32,57,138);
  --color_19: rgb(105,42,169);
  --color_20: rgb(53,21,84);
  --color_21: rgb(211,193,255);
  --color_22: rgb(189,163,255);
  --color_23: rgb(123,70,255);
  --color_24: rgb(82,47,170);
  --color_25: rgb(41,23,85);
  --color_26: rgb(137,157,223);
  --color_27: rgb(48,85,207);
  --color_28: rgb(16,28,69);
  --color_29: rgb(224,159,198);
  --color_30: rgb(194,109,160);
  --color_31: rgb(163,20,106);
  --color_32: rgb(109,13,71);
  --color_33: rgb(54,7,35);
}

:root {
  --font: 'Work Sans', monospace;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

.blue-text {
  color: var(--color_23);
  font-weight: 700;
}

.btn {
  text-align: center;
}

.btn a {
  left: calc(50% - 60px);
  background-color: var(--color_23);
  color: var(--color_1);
  padding: .75rem 1.5rem;
  border-radius: 50px;
}

.none {
  display: none;
}

/* MENU */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  background-color: white;
}

.menu-btn {
  outline: thin solid var(--first-color);
  border: 0;
  cursor: pointer;
  background-color: var(--second-color);
}

.menu-btn svg {
  fill: var(--first-color);
}

.menu {
  position: fixed;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  pointer-events: none;
}

.logo a {
  font-weight: bold;
  font-size: 2rem;
  color: var(--color_23);
  text-decoration: none;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
  background-color: white;
  margin-top: 3rem;
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  color: var(--color_23);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }
  .menu {
    position: static;
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }
  .menu a {
    padding: 10px 1rem;
  }
  .menu a:last-child {
    padding-right: 0;
  }
  .menu a:hover {
    background-color: transparent;
  }
}

@-webkit-keyframes carousel-slide {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  25% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  75% {
    -webkit-transform: translateX(-75%);
            transform: translateX(-75%);
  }
}

@keyframes carousel-slide {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  25% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  75% {
    -webkit-transform: translateX(-75%);
            transform: translateX(-75%);
  }
}

.cart {
  margin: 50px auto;
}

.carousel {
  text-align: center;
  -webkit-box-shadow: 1px 1px 1px 4px black;
          box-shadow: 1px 1px 1px 4px black;
  overflow-x: hidden;
  border-radius: 10px;
  background-color: var(--color_23);
}

.carousel .slide {
  width: 20rem;
}

.carousel .slides {
  padding-left: 0;
  width: 400%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  overflow-x: hidden;
  -webkit-animation: carousel-slide 6s ease-in-out 3s;
          animation: carousel-slide 6s ease-in-out 3s;
}

.carousel label {
  border: medium solid var(--gray-dark-color);
  border-radius: 50%;
  margin: 0 0.25rem;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
}

#slide-1:checked ~ .slides {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

#slide-2:checked ~ .slides {
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
}

#slide-3:checked ~ .slides {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#slide-1:checked ~ .slides-nav label#dot-1,
#slide-2:checked ~ .slides-nav label#dot-2,
#slide-3:checked ~ .slides-nav label#dot-3,
#slide-4:checked ~ .slides-nav label#dot-4 {
  background-color: var(--gray-dark-color);
}

@media (min-width: 23.4375rem) {
  .cart {
    width: 375px;
  }
  .carousel .slide {
    width: 23.4375rem;
  }
  .carousel .slides {
    width: 400%;
  }
}

@media (min-width: 26.5625rem) {
  .cart {
    width: 26.5625rem;
  }
  .carousel .slide {
    width: 26.5625rem;
  }
  #hero {
    width: 100%;
    height: 10vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 60%;
    -o-object-fit: 100% 100%;
       object-fit: 100% 100%;
  }
  #hero h1 {
    padding: 50px 0 0 0;
  }
  #hero p {
    font-size: 20px;
  }
}

@media (min-width: 48rem) {
  #services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #numbers {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .about {
    text-align: center;
  }
  .section3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    text-align: center;
  }
  .section3 span {
    font-size: 1.2rem;
  }
  .section3 p {
    text-align: center;
    padding: 1rem 0rem 1rem 0;
    font-size: 1.2em;
  }
  .section3 .imgbg {
    background-image: url(/assets/bg1080.png);
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    margin-left: 5rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@media screen and (min-width: 64rem) {
  .section3 {
    font-size: 1.6rem;
    padding: 2rem 4rem;
  }
  .menu-btn {
    display: none;
  }
  #numbers {
    font-size: 2rem;
  }
  #numbers h2 {
    font-size: 3rem;
  }
  .menu {
    position: static;
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }
  .menu a {
    padding: 10px 1rem;
  }
  .menu a:last-child {
    padding-right: 0;
  }
  .menu a:hover {
    background-color: transparent;
  }
  .container {
    padding: 1rem 6rem;
  }
}

body {
  font-family: var(--font);
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

#hero {
  background-image: url(/assets/bg4k.png);
  width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  -o-object-fit: 100% 100%;
     object-fit: 100% 100%;
  background-size: 220%;
}

.text-hero {
  text-align: center;
}

.text-hero p {
  padding: 2rem;
}

#servi {
  margin-top: 4rem;
  text-align: center;
}

#servi span {
  font-size: 1.2rem;
}

#servi h2 {
  text-align: center;
}

#services .business {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

#services .business p {
  margin-top: 10px;
}

#services .business svg {
  width: 5rem;
}

#services .contable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

#services .contable p {
  margin-top: 10px;
}

#services .contable svg {
  width: 5rem;
}

#services .optimization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

#services .optimization p {
  margin-top: 10px;
}

#services .optimization svg {
  width: 5rem;
}

#numbers {
  margin-bottom: 3rem;
  background-color: var(--color_25);
  text-align: center;
  padding: 2rem;
  color: white;
}

#numbers .dot {
  margin-top: -50px;
  color: white;
  font-size: 5rem;
}

#about {
  padding: 2rem 4rem 2rem 4rem;
}

#about p {
  margin-bottom: 2rem;
}

#testimonials {
  text-align: center;
  margin-bottom: 50px;
  color: white;
}

#testimonials span {
  font-size: 1.5rem;
}

.social-media {
  font-size: 1.2rem;
  text-align: center;
}

.social-media address {
  font-size: 1.2rem;
  margin-top: 10px;
}

.social-media .links {
  margin-top: 20px;
}

.social-media .links svg {
  width: 64px;
}

footer {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */