@import 'menu-h';
@import 'variables';
@import 'mqueries';

body {
    @include reset;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;

    max-width: 90em;
    margin: 0 auto;
}

// HERO

#home {
    position: relative;
}

.firstImage {
    background-image: url("/assets/firstImage.jpg");
    background-position: center;
    width: 105%;
    height: 40vh;
    background-size: cover;

    a {
        color: white;
        text-shadow: black 0.1em 0.1em 0.2em;
        padding: 2rem 2rem 0 2rem;
    }

    h3 {
        padding: 2rem 2rem 0 2rem;
        color: yellow;
    }
}

.secondImage {
    background-image: url("/assets/secondImage.jpg");
    background-position: center;
    width: 90%;
    height: 30vh;
    position: relative;
    top: 1rem;
    left: 3rem;
    background-size: cover;

    a {
        color: white;
        text-shadow: black 0.1em 0.1em 0.2em;
        padding: 2rem 2rem 0 2rem;
    }

    h3 {
        padding: 2rem 2rem 0 2rem;
        color: yellow;
    }
}

.thirdImage {
    background-image: url("/assets/thirdImage.jpg");
    background-position: center;
    width: 90%;
    height: 30vh;
    z-index: 99;
    margin-top: -40px;
    position: relative;
    background-size: 150% 150%;

    a {
        color: white;
        text-shadow: black 0.1em 0.1em 0.2em;
        padding: 2rem 2rem 0 2rem;
    }

    h3 {
        padding: 2rem 2rem 0 2rem;
        color: yellow;
    }

}

// FIRST POST

.divPost1 {
    background-image: url("/assets/firstImage.jpg");
    background-position: center;
    width: 100%;
    height: 40vh;
    background-size: cover;

}

.divPost2 {
    background-image: url("/assets/secondImage.jpg");
    background-position: center;
    width: 100%;
    height: 40vh;
    background-size: cover;

}

.divPost3 {

    background-image: url("/assets/thirdImage.jpg");
    background-position: center;
    width: 100%;
    height: 40vh;
    background-size: cover;
}

.posts {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: blue;
    font-size: 1.2rem;
}

.firstPost {
    padding: .5rem 2rem;

    a {
        color: skyblue;
        font-size: 1.2rem;
        text-decoration: none;
    }

    a:hover {
        color: blue;
        font-size: 1.4rem;
    }

    h3 {
        padding: 0.5rem 1rem 0 1rem;
    }
}

.firstPost2 {
    padding: .5rem 2rem;

    a {
        color: skyblue;
        font-size: 1.2rem;
        text-decoration: none;
    }

    a:hover {
        color: blue;
        font-size: 1.4rem;
    }

    h3 {
        padding: 0.5rem 1rem 0 1rem;
    }
}

.firstPost3 {
    padding: .5rem 2rem;

    a {
        color: skyblue;
        font-size: 1.2rem;
        text-decoration: none;
    }

    a:hover {
        color: blue;
        font-size: 1.4rem;
    }

    h3 {
        padding: 0.5rem 1rem 0 1rem;
    }
}

// FIRST TUT

.firstTut1 {
    padding: 1rem 2rem;

    a {
        color: skyblue;
        font-size: 1.2rem;
        text-decoration: none;
    }

    a:hover {
        color: blue;
        font-size: 1.4rem;

    }

    h3 {
        padding: 0.5rem 1rem 0 1rem;
    }

}

.firstTut2 {
    padding: 1rem 2rem;

    a {
        color: skyblue;
        font-size: 1.2rem;
        text-decoration: none;
    }

    a:hover {
        color: blue;
        font-size: 1.4rem;

    }

    h3 {
        padding: 0.5rem 1rem 0 1rem;
    }

}

.firstTut3 {
    padding: 1rem 2rem;

    a {
        color: skyblue;
        font-size: 1.2rem;
        text-decoration: none;
    }

    a:hover {
        color: blue;
        font-size: 1.4rem;

    }

    h3 {
        padding: 0.5rem 1rem 0 1rem;
    }

}


// DIV VIDEO

.firstVideo {
    padding: 1.5rem 2rem 1.5rem 2rem;

    a {
        color: skyblue;
        font-size: 1.2rem;
        text-decoration: none;
    }

    a:hover {
        color: blue;
        font-size: 1.4rem;

    }

    h3 {
        padding: 0.5rem 1rem 0 1rem;
    }
}

.divVideo1,
.divVideo2,
.divVideo3 {
    video {
        width: 100%;
        height: 40vh;
        object-fit: cover;
        object-position: center
    }
}

// FIRST LOOP

.divLoop1 {
    background-image: url("/assets/firstImage.jpg");
    background-position: center;
    width: 100%;
    height: 40vh;
    background-size: cover;
}

.divLoop2 {
    background-image: url("/assets/secondImage.jpg");
    background-position: center;
    width: 100%;
    height: 40vh;
    background-size: cover;
}

.divLoop3 {
    background-image: url("/assets/thirdImage.jpg");
    background-position: center;
    width: 100%;
    height: 40vh;
    background-size: cover;
}



.firstLoop {
    padding: 1.5rem 2rem 1.5rem 2rem;

    a {
        color: skyblue;
        font-size: 1.2rem;
        text-decoration: none;
    }

    a:hover {
        color: blue;
        font-size: 1.4rem;
        text-decoration: line-through;
    }

    h3 {
        padding: 0.5rem 1rem 0 1rem;
    }
}

// CONTACT

.contact {
    text-align: center;
    padding: 0.5rem 1rem 0 1rem;


    h2 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    h5 {
        margin-top: -1rem;
        font-size: 1rem;
    }

    p {

        margin-top: -1rem;
        font-size: 1.1rem;
    }

}

// FORMULARY

.formulario {
    display: flex;

    .btn {
        font-weight: bold;
        font-size: .8rem;
        color: #fff !important;
        background: blue;
        border: 0;
        cursor: pointer;
        margin: 0;
        width: 150px;
        padding: 0.5em 1rem;
    }

    input {
        width: 100%;
        margin: 0;
        padding: 0.8em 3rem;
        background: transparent;
        background-color: #eee;
        border: 0;
        user-select: none;
        font-weight: normal;
        border-radius: 0;
    }
}

.social-media {
    margin-top: 1.5rem;
    justify-content: center;

    h4 {
        color: blue;
        font-size: 1.5rem;
    }
}

.linksfooter {
    display: flex;
    flex-direction: column;
    h5 {
        margin-top: 1rem;
    }
    a {
        text-decoration: none;
        margin-top: 1rem;
        color: #3c00ff5b;
        font-weight: bold
    }
}

.education {
    display: flex;
    flex-direction: column;    
    a {
        text-decoration: none;
        margin-top: 1rem;
        color: #3c00ff5b;
        font-weight: bold
    }
}

footer {
    text-align: center;
    margin: 1rem;
}

@media (min-width: 35.9375rem) {
    .secondImage {
        height: 40vh;
    }

    .thirdImage {
        width: 90%;
        height: 40vh;
    }
}

@media (min-width: 48rem) {

    #home {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(2, 2fr);

        .firstImage {
            width: 100%;
        }

        .secondImage {
            width: 100%;
            height: 15em;
            top: 5em;
        }

        .thirdImage {
            width: 100%;
            height: 17em;
            grid-column: 2/3;
            left: -11em;
        }
    }


    #posts {
        display: grid;
        margin: 0 2.5rem 0 2.5rem;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(2, 2fr);

        a {
            grid-column: 1/2;
        }
    }

    #tutorials {
        display: grid;
        margin: 0 2.5rem 0 2.5rem;

        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(2, 2fr);

        a {
            grid-column: 1/2;
        }
    }

    #videos {
        display: grid;
        margin: 0 2.5rem 0 2.5rem;

        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(2, 2fr);

        a {
            grid-column: 1/2;
        }
    }

    #loops {
        display: grid;
        margin: 0 2.5rem 0 2.5rem;

        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(2, 2fr);

        a {
            grid-column: 1/2;
        }
    }

    .contact {
        padding-left: 4rem;
        text-align: start;
    }

    .formulario {
        input {
            width: 500px;
        }

        .btn {
            width: 150px;
        }
    }
    
    .education {
        display: flex;
        flex-direction: column;
        grid-column: 2/3;
        a {
            text-decoration: none;
            color: #3c00ff5b;
            font-weight: bold
        }
    }
}



@media (min-width: 64rem) {
    #home {
        margin-top: 2rem;

        .firstImage {
            width: 100%;
            height: 22.5em;
        }

        .secondImage {
            width: 70%;
            height: 20em;

            h3 {

                padding: 2rem 4rem 0 2rem;
            }
        }

        .thirdImage {
            width: 70%;
            height: 21em;
            left: -15em;
        }
    }

    #posts {
        display: grid;
        margin: 0 4rem 0 3rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);

        .posts {
            margin-top: 1rem;
            grid-column: 2/3;
        }
    }

    #tutorials {
        margin: 0 4rem 0 3rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);

        .posts {
            margin-top: 1rem;
            grid-column: 2/3;
        }
    }

    #videos {
        margin: 0 4rem 0 3rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);

        .posts {
            margin-top: 1rem;
            grid-column: 2/3;
        }
    }

    #loops {
        margin: 0 4rem 0 3rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);

        .posts {
            margin-top: 1rem;
            grid-column: 2/3;
        }
    }

    .contact {
        display: grid;
        grid-template-columns: 20% 20% 60%;
        grid-template-rows: repeat(1, 1fr);

        .form {
            padding-right: 3rem;
            grid-column: 3/4;
            grid-row: 1/2;
            h5 {                
                font-size: 120%;
                }
            p {                
                font-size: 120%;
                }
            input {                
            font-size: 120%;
            }
            .btn {
            font-size: 120%;

            }
        }

        .linksfooter {
            grid-row: 1/2;
            grid-column: 1/2;
        }

        .education {
            margin-top: 3.5rem;
            grid-column: 2/3;
        }
    }
    footer {                
        font-size: 150%;
        }

}
.sign-in {
    padding: .6rem;
    a{
        color: blueviolet;
    }
    a:hover {
        border-bottom: 1px solid black;
    }
}

.sign-in {
    text-align: center;}