.logo {
  padding: .7rem;

  svg {
    width: 128px;
  }
}

.menuItem {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  font-weight: bold;
  color: #00ad6a;
  text-decoration: none;
  padding-top: 1rem;
}

.menuItem:hover {
  text-decoration: underline;
  color: #1fe374;
}

.menu-desktop {
  display: none;
}

.hamburger {
  position: fixed;
  z-index: 999;
  top: 1.5rem;
  right: 1.5rem;
  padding: 3px 5px;
  border-radius: 50%;
  border: 0;
  background-color: white;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: -30px;
  left: 0;
  background-color: white;
  right: 0;
  bottom: 0;
  z-index: 99;
  color: white;
  list-style: none;
  padding-top: 4rem;

  .sign-up {
    padding: .3rem .5rem;
    text-align: center;
    border-radius: 5px;
    width: 100px;
    margin-top: 1rem;
    font-size: 1.4rem;
    box-shadow: 0 0 3px black;
    background-color: #1fe374;
    color: #080c16;
  }

  .btn {
    margin-top: 1rem;
  }
}

.showMenu {
  transform: translateY(0);
}