@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import 'navbar';
@import 'variables';
@import 'mqueries';

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    @include reset;
    background-color: #eafaf1;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: white;
    box-shadow: 0 0 1px black;
}
main {
    max-width: 1200px;    
    margin: 0 auto;

}

#try {
    margin-top: 1.5rem;
    font-size: 1.9rem;
    padding: 0 1.8rem;
    font-weight: bold;
    p {
        margin-top: 2rem;
        font-size: 1.13rem;
        font-weight: 400;
    }
}

#parrafos {
    padding: 1.5rem;
    line-height: 1.7;
    font-size: 1.13rem;

    h5 {
        margin-top: 1rem;
        font-size: 1.15rem;
        padding: .5rem;
        color: #00ad6a;
    }

    li {
        font-size: .9rem;
        padding: 0 .5em;
    }

    .just {
        font-size: 1.1rem;

        a {
            text-decoration: underline;
            color: black;
        }

        a:hover {
            color: #00ad6a
        }
    }
}

#cards {
    .card {
        background-color: white;
        width: 90vw;
    max-width: 1200px;   

        border-radius: 10px 10px 0 0;
        margin: 0 auto;
        box-shadow: 0 0 2px black;

        .recom {
            background-color: #00ad6a;
            color: white;

            text-align: center;
            padding: .5rem 1rem;
            border-radius: 10px 10px 0 0;
            font-size: .8rem;
            font-weight: bold;
        }

        h2 {
            padding: 1rem;
            font-size: 1.8rem;
            color: #00ad6a;
        }

        .price {
            margin-top: -1.6rem;
            padding: 1rem;
            font-size: 1.2rem
        }

        h6 {
            padding: 1rem;
            font-size: .8rem;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            margin-bottom: 1em;

            li {
                padding: .4rem 2rem;
                font-size: .9rem;
            }
        }

        button {
            width: 90%;
            padding: .9rem 1rem;
            margin: 2rem 0 1rem 5%;
            border-radius: 3px;
            background-color: #1fe374;
            border: 0;

            a {
                color: black;
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
    }

    .card2 {
        margin-top: 2em;

        .recom {
            background-color: #eafaf1;
            color: black;
            text-align: center;
            font-weight: 300;
            line-height: 1.5;
            box-shadow: 0 1px 0 grey;
        }
    }
}

#subvert {
    margin-top: 5.2rem;
    text-align: center;
    margin-bottom: 2em;
    .sub-par {
        margin-top: 1rem;
        font-size: 1.5rem;
        padding: 1rem;
        line-height: 1.5;
    }
    h6 {
        color: #00ad6a;
    }
}


#faq {
    padding: 1.5rem 1.5rem 3.5em 1.5rem;
    background-color: white;

    h2 {
        padding: .5rem;
        margin-bottom: 2.5rem;
    }
    .separate {
        margin-top: 3rem;
        font-size: 120%;
        padding: .5rem;
    }
}

footer {
    background-color: black;
    text-align: center;
    max-width: 1200px;   
    padding: .5em 0;
    margin: 0 auto;
    height: 535px;

    .pulse {
        display: flex;
        flex-direction: column;

        .sign-footer {
            color: black;
            padding: 1rem 1rem;
            width: 250px;
            margin: 0 auto;
            font-weight: bold;
            background-color: #1fe374;
        }

        svg {
            margin: 2em auto;
        }
    }

    a {
        color: #1fe374;
        line-height: 1.7;
    }

    .footer-links {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 33%);

        font-size: .8em;
        span {
            font-size: 1rem;
            color: white;
            font-weight: bold;
        }

        .footer-links1 {
            display: flex;
            margin-top: 2em;
            flex-direction: column;
        }
    }

    .copy {
        color: white;
        padding: 2em;
    }
}

.btn-abs {
    position: fixed;
    bottom: 2em;
    right: 2em;
    padding: .7em 1em;
    background-color: #00ad6a;
    border: 2px solid white;

    a {
        color: white;
        font-weight: bold;
        font-size: 1em;
    }
}