@import 'variables';
@import 'menu-h';
@import 'mqueries';


body {
    @include reset;
}
.btn-submit {
    padding: .4rem 1.2rem;
    font-size: .9rem;
    color: white;
    border-radius: 6px;
    background: black;
    border: 1px solid white;
    box-shadow: 0px 0px 4px 1px white;
}

.btn-sign {
    padding: .5rem 1.2rem;
    font-size: .9rem;
    color: white;
    border-radius: 6px;
    background: #4C5FD5;
}


.search {
    text-align: center;
    height: 30vh;
    font-size: 1.5rem;
    background-color: #dadbf1;
    padding: 3.75rem 0;
    display: flex;
    flex-direction: column;

    .search-box {
    margin: 0 auto;
    padding: 0 1rem;
        display: flex;
        align-items: center;
        flex-direction: row;
        input {
            margin-top: 1rem;
            border-radius: 6px 0 0 6px;
            padding: 1rem 1rem;
            width: 80%;
            font-size: 1.2rem;
        }
        a {
            margin: 1rem 0rem 0 0;
            align-items: center;
            text-decoration: none;
            font-size: 1.2rem;
            color: white;
            padding: 1.12rem;
            border-radius: 0 6px 6px 0px;
            background-color: 
            #4C5FD5;
        }
    }
}


.details {
    display: grid;
    svg {
        width: 128px;
        margin-left: 1.5rem;
    }
    .det1 {
        display: flex;
        div {
            padding: 1rem 1rem;
            font-size: 120%;
            h2 {
                font-size: 200%;
            }
            a {
                text-decoration: none;
                color: #4C5FD5;
            }
            a:hover {
                color:blueviolet
            }
        }
    }
}


.footer {
    background-color: black;
    color: white;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 1rem 1rem;

    a {
        display: flex;
        color: white;
        text-decoration: none;
    }
}



footer {
    margin-top: 3rem;
    font-weight: bold;
    grid-column: span 2;
    font-size: 110%;
    text-align: end;
    svg {
        width: 64px;
    }
}
@media (min-width: 48em) {
  .search h2 {
    font-size: 4rem;
  }
  .details {
    display: -ms-grid;
    display: grid;
    padding: 2rem 2rem;
        grid-template-columns: repeat(2, 50%);
  }
  footer {
    text-align: end;
  }
}

@media (min-width: 64rem) {
  .details {
    padding: 4rem 8rem;
  }
  .footer {
    display: -ms-grid;
    display: grid;
        grid-template-columns: repeat(5, 20%);
  }
}

@media (min-width: 75em) {
  .details {
    padding: 5rem 10rem;
  }
}

@media (min-width: 64rem) {
  .details {
      padding: 4rem 8rem;
  }  
  .footer {
      display: grid;
      grid-template-columns: repeat(5, 20%);
      font-size: 120%
  }

  footer {
    font-size: 90%;
    margin-top: 9rem;
    grid-column: 5/6;
  }


}



@media (min-width: 48em) {
  .search h2 {
      font-size: 4rem;
  }

  .details {
      display: grid;
      padding: 2rem 4em;
      grid-template-columns: repeat(2, 50%);
  }

  .grid1 h3, .grid1 a {
    padding-left: 4rem;
  }
  
  .search .search-box input {
    padding: 1rem 10rem;
    text-align: center;
  }
  footer {
      text-align: end;
      font-size: 90%;
  }

}