:root {
    --color_0: rgb(255,255,255);
    --color_1: rgb(255,255,255);
    --color_2: rgb(0,0,0);
    --color_3: rgb(237,28,36);
    --color_4: rgb(0,136,203);
    --color_5: rgb(255,203,5);
    --color_6: rgb(114,114,114);
    --color_7: rgb(176,176,176);
    --color_8: rgb(255,255,255);
    --color_9: rgb(114,114,114);
    --color_10: rgb(176,176,176);
    --color_11: rgb(255,255,255);
    --color_12: rgb(231,231,235);
    --color_13: rgb(197,197,207);
    --color_14: rgb(115,115,140);
    --color_15: rgb(22,22,63);
    --color_16: rgb(248,240,255);
    --color_17: rgb(221,187,255);
    --color_18: rgb(158,63,253);
    --color_29: rgb(32,57,138);
    --color_19: rgb(105,42,169);
    --color_20: rgb(53,21,84);
    --color_21: rgb(211,193,255);
    --color_22: rgb(189,163,255);
    --color_23: rgb(123,70,255);
    --color_24: rgb(82,47,170);
    --color_25: rgb(41,23,85);
    --color_26: rgb(137,157,223);
    --color_27: rgb(48,85,207);
    --color_28: rgb(16,28,69);
    --color_29: rgb(224,159,198);
    --color_30: rgb(194,109,160);
    --color_31: rgb(163,20,106);
    --color_32: rgb(109,13,71);
    --color_33: rgb(54,7,35);
}