@import 'colors';
@import 'variables';
@import 'typography';
@import 'menu-h';
@import 'carousel';
@import 'mqueries';

body {
    font-family: var(--font);
    @include reset;
}

*,
::after,
::before {
    box-sizing: inherit;
}


#hero {
    background-image: url(/assets/bg4k.png);
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    object-fit: 100% 100%;
    background-size: 220%;
}

.text-hero {
    text-align: center;

    p {
        padding: 2rem;
    }
}
#servi {
    margin-top: 4rem;
    text-align: center;    
        span {
            font-size: 1.2rem;
        }

        h2 {
            text-align: center;
        }
}


#services {
    

        .business {

            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            padding: 2rem;

            p {
                margin-top: 10px;
            }

            svg {
                width: 5rem;

            }
        }

        .contable {

            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            padding: 2rem;

            p {
                margin-top: 10px;
            }

            svg {
                width: 5rem;

            }
        }

        .optimization {

            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            padding: 2rem;

            p {
                margin-top: 10px;
            }

            svg {
                width: 5rem;

            }
        }
    }

    #numbers {
        margin-bottom: 3rem;
        background-color: var(--color_25);
        text-align: center;
        padding: 2rem;
        color: white;

        .dot {
            margin-top: -50px;
            color: white;
            font-size: 5rem;

        }
    }


#about {
    padding: 2rem 4rem 2rem 4rem;
    p {
        margin-bottom: 2rem;
    }

}


#testimonials {
    text-align: center;
    margin-bottom: 50px;
    color: white;
    span {
        font-size: 1.5rem;
    }
}

.social-media {
        font-size: 1.2rem;
        text-align: center;
    address {
        font-size: 1.2rem;
        margin-top: 10px;
    }
    .links {
        margin-top: 20px;
        svg {
            width: 64px;
        }
    }
}

footer {
    text-align: center;
}