body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(63,94,251);
  background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

section {
  border: 5px solid blue;
  width: 400px;
  background-color: #0B2429;
  height: 300px;
  position: relative;
  margin-top: 1.5rem;
}

#a {
  width: 120px;
  height: 120px;
  background: #F3AC3C;
  border-radius: 50% 50% 50% 0%;
  position: absolute;
  top: 30px;
  left: 200px
}

#b {
  width: 120px;
  height: 120px;
  background: #998235;
  border-radius: 50% 0% 50% 50%;
  position: absolute;
  top: 90px;
  left: 140px
}

#c {
  width: 120px;
  height: 120px;
  background: #F3AC3C;
  border-radius: 50% 0% 50% 50%;
  position: absolute;
  top: 150px;
  left: 80px
}
